@import "variables.scss";

.feeds ol, li
{
	padding: 0;
	margin: 0;
	color: $textColourLighten;
	float:left;
}

.feeds a 
{
	text-decoration: none;
	color: $secondaryColour;
	font-size: 0.9em;
	transition: all 0.6s;
}

.feeds a:hover
{
	color: darken($textColourLighten, 22%);
}

.feeds h3
{
	color: $textColourLighten;
	font-weight: normal;
	font-size: 1.1em;
	margin: 0;
	padding: 0;
	margin-bottom: 1%;
}

.current-source
{
	padding: 4%;
}

.current-source i, h4, a
{
	position: relative;
	display: inline;
}

.current-source i 
{
	color: $textColourLighten;
	transition: all 0.8s;
	opacity: 1;
	float: left;
    width: 5%;
    margin-right: 2%;
    padding-top: 2%;
    height: 55px;
}

.current-source i:hover
{
	opacity:0.4;
	cursor: pointer;
}
.current-source ol
{
	list-style-type: none;
}


.current-source li
{
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
}

.current-source h4
{
	font-size: 1em;
	font-weight: normal;
	color: darken($textColourLighten, 10%);
	float: left;
	margin: 0;
	padding: 0;
	width: 90%;
}

.current-source a
{
	float: left;
	width: 60%;
	word-wrap: break-word;
	color: darken($textColourLighten, 25%);
}

.add-new-source
{
	float: left;
	width: 100%;
}
.feed-item-cell
{
    margin: 2%;
    padding: 1%;
    width: 43%;
    float: left;
}

.feed-item-cell li
{
    background: none !important;
}

.feed-add-form form 
{
	display: none;
}

.feed-list
{
	padding-top: 2%;
	position: relative;
	float: left;
	width: 96%;
	transition: 0.5s all;
	overflow-x: scroll;
	height: 75vh
}





.feed-list li
{
	list-style-type: none;
}
.feed-list li
{
    background: rgba(160, 165, 231, 0.08);
    -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.1);
    width: 20%;
}

.feed-list ol li 
{
	background: none;
}
.feed-item-cell li
{
	list-style-type: none;
	margin-bottom: 2%;
	float:left;
	box-shadow: none;
	width: 100%;
}

.feed-item-cell h4
{
    font-size: 1.65em;
    font-weight: normal;
    margin: 0;
    margin-bottom: 2%;
    float: left;
}



.feeds button
{
	outline: none;
	border: none;
	padding: 2%;
	background: rgba(0,0,0,0.15);
   -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.1);
	color: $secondaryColour;
	text-align: left;
	transition: all 0.6s;
	font-family: $mainFont;
	width: 100%;
}

.feeds button:hover
{
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}

.feed-manager
{
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 90vh;
}


.panel-visibility
{
	position: absolute;
	right: 0;
	padding: 5px;
	color: $textColourDarker;
	font-size: 24px;
}
