.feeds ol, li {
  padding: 0;
  margin: 0;
  color: rgba(172, 177, 209, 0.9);
  float: left; }

.feeds a {
  text-decoration: none;
  color: rgba(33, 39, 74, 0.79);
  font-size: 0.9em;
  transition: all 0.6s; }

.feeds a:hover {
  color: rgba(60, 60, 70, 0.8);
  border-bottom: 1px dashed rgba(60, 60, 70, 0.8); }

.feeds h3 {
  color: rgba(172, 177, 209, 0.9);
  font-weight: normal;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  margin-bottom: 1%; }

.current-source i, h4, a {
  position: relative;
  display: inline; }

.current-source i {
  color: rgba(64, 70, 113, 0.9);
  transition: all 0.8s;
  opacity: 1;
  float: left;
  width: 5%;
  margin-right: 2%;
  padding-top: 2%;
  height: 28px; }

.current-source i:hover {
  opacity: 0.4;
  cursor: pointer; }

.current-source ol {
  list-style-type: none; }

.current-source li {
  width: 100%;
  float: left;
  margin-top: 2%;
  margin-bottom: 2%; }

.current-source h4 {
  font-size: 1.1em;
  font-weight: normal;
  float: left;
  width: 90%;
  margin: 0;
  padding: 0;
  padding-left: 2%; }

.current-source a {
  float: left;
  font-size: 0.6em;
  margin-left: 2%; }

.add-new-source {
  float: left;
  width: 100%; }

.feed-item-cell {
  margin: 2%;
  padding: 1%;
  width: 43%;
  float: left; }

.feed-add-form form {
  display: none; }

.feed-list {
  padding: 2%;
  padding-top: 4%;
  position: relative;
  float: left;
  width: 96%;
  transition: 0.5s all; }

.feed-list li {
  list-style-type: none; }

.feed-list li {
  background: rgba(160, 165, 231, 0.08);
  -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.1);
  width: 20%; }

.feed-list ol li {
  background: none; }

.feed-item-cell li {
  list-style-type: none;
  margin-bottom: 2%;
  float: left;
  box-shadow: none;
  width: 100%; }

.feed-item-cell h4 {
  font-size: 1.65em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 2%;
  float: left; }

.feeds button {
  outline: none;
  border: none;
  padding: 2%;
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.1);
  color: rgba(33, 39, 74, 0.79);
  text-align: left;
  transition: all 0.6s;
  font-family: "Lato", sans-serif;
  width: 100%; }

.feeds button:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.feed-manager {
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 90vh;
  position: absolute;
  right: 0;
  width: 0%;
  transition: 0.9s all; }

.opened {
  width: 30%; }

.closed {
  width: 0%; }

.left {
  float: left;
  width: 70%; }

.right {
  float: left;
  width: 30%; }

.panel-visibility {
  position: absolute;
  right: 0;
  padding: 5px;
  color: rgba(64, 70, 113, 0.9);
  font-size: 24px; }

/*# sourceMappingURL=feedsView.css.map */
