@import "variables.scss";

.widget-view
{
	float:left;
	width: 88%;
}


.widget-wrapper
{
	float: left;
	color: $textColourLighten;
	width: 100%;
}

.form-view
{

}

.list-view
{
	padding: 2%;
	padding-top: 4%;
	position: relative;
	float: left;
	width: 96%;
	transition: 0.5s all;
}

.list-view-smaller 
{
	width: 79% !important;
	margin-left: 17% !important;
}