@import "base.scss";

.options-menu
{
    margin-top: 0%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1%;
    padding-left: 2%;
    color: rgba(172, 177, 209, 0.9);
    transition: 0.5s all;
    opacity: 1;
    width: 97%;
}


.options-menu span 
{
    height: 16px;
    width: 16px;
    background: rgba(29, 33, 65, 0.61);
    border-radius: 26px;
    padding: 0px;
    opacity: 1;
    margin-right: 2%;
    padding: 8px;
    float: left;
}

.options-menu span:hover 
{
    cursor: pointer;
    opacity: 0.8;
}

.options-menu i 
{
    margin-left: 2px;
    margin-top: 0px !important;
    font-size: 16px;
    font-size: 15px;
    position: absolute;
}


.revealed-options
{
    position: absolute;
    display: none;
    top: 0;
    margin-left: 9%;
    width: 50%;
}

.list-smaller 
{
    width: 79% !important;
    margin-left: 17% !important;
}
.hidden-form
{
    width: 0%;
    float:left;
    position: absolute;
    transition: 0.5s all;
}
.wide-form
{
    display:block;
    width: 15%;
}




.hidden-form form
{
    display:none;
} 


textarea
{
    resize: none;
    outline: none;
    border: none;
    padding: 3%;
    background: rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.4);
    color: $primaryColour;
    transition: all 0.6s;
    font-family: $handwritingFont;
    font-size: 1em;
    height: 28vh;
    box-sizing: border-box; 
    float:left;
    width: 100%;
}

textarea::-webkit-input-placeholder
{
    color: $primaryColour;
    font-family: $mainFont;
}


.todo-form textarea:hover
{
    background: rgba(0,0,0,0.5);
}

.todo-form textarea:focus
{
    background: rgba(0,0,0,0.5);
}

button
{
    outline: none;
    border: none;
    padding: 4.5%;
    background: rgba(0,0,0,0.4);
    color: $textColourLighten;
    text-align: left;
    transition: all 0.6s;
    font-family: $mainFont;
    font-size: 1em;
    float:left;
    width: 100%;
}

button:hover
{
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}
