$textColour: rgba(255,255,255,0.9);
$text--hover: #A9A4C9;


html, body
{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: $textColour;
	float:left;
	width: 100%;
    background: url("../img/dashboard-background.jpg");
    background-size: cover;
    overflow: hidden;
}

/* 	
	
	header styles
	-------------

*/

.dashboard-header
{
	float:left;
	width: 96%;
	background: rgba(0,0,0,0.3);
	padding: 2%;
	font-size: 1.3em;
}

.site-name
{
	float: left;
}

.user-management
{
	float: right;
}

.user-management label
{
	margin-left: 3px;
	font-size: 0.7em;
	opacity: 0.75;
	letter-spacing: 5px;
}

.avatar-image
{
	display: block;
	width: 64px;
}



/* 	

	sidebar styles
	--------------

*/

.dashboard-full-height-sidebar
{
	float:left;
	height: 100vh;
	width: 12%;
	background: rgba(0,0,0,0.3);
}

.dashboard-full-height-sidebar ul
{
	margin: 0;
	padding: 0;
}

.dashboard-full-height-sidebar li
{
    list-style-type: none;
    float: left;
    width: 90%;
    padding: 5%;
}

.dashboard-full-height-sidebar li i
{
	width: 10%;
}

.dashboard-full-height-sidebar li a
{
	color: $textColour;
	text-decoration: none;
    text-align: center;
}

.dashboard-full-height-sidebar a
{

}

.sidebar-menu-items
{

}

.sidebar-menu-items li
{
	transition: 0.2s all;
	border: none;
	color: $textColour;
}

.sidebar-menu-items li:hover
{
	padding-left: 10%;
	border-left: 7px solid $text--hover;
	cursor: pointer;
	color: $text--hover;
}



/* 

	main view styles
	----------------

*/

.widget-view
{
	float:left;
	width: 78%;
}


.widget-wrapper
{
	float:left;
	padding: 3%;
	margin: 3%;
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	-webkit-box-shadow: 0px 6px 18px -4px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 6px 18px -4px rgba(0,0,0,0.55);
	box-shadow: 0px 6px 18px -4px rgba(0,0,0,0.55);
}

