/*
	------------------------------------------------------------------------------

	config and vars
	---------------

*/

$textColour: rgba(107,116,172,0.9);
$textColourDarker: darken($textColour, 20%);
$textColourLighten: lighten($textColour, 20%);

$secondaryColour: rgba(33, 39, 74, 0.79);

$text--hover: #A9A4C9;

$mainFont: 'Lato', sans-serif;
$handwritingFont: 'Coming Soon', cursive;


/*
	------------------------------------------------------------------------------

	root styles
	-----------

*/

html, body
{
	margin: 0;
	padding: 0;
	font-family: $mainFont;
	color: $textColour;
	float:left;
	width: 100%;
    background: url("../img/dashboard-background.jpg");
    background-size: cover;
    overflow: hidden;
}


/* 	

	-----------------------------------------------------------------------------
	
	header styles
	-------------

*/

.dashboard-header
{
	float:left;
	width: 100%;
	background: rgba(0,0,0,0.3);
	font-size: 1.3em;
}

.site-name
{
	float: left;
}

.user-management
{
	float: right;
	padding: 1%;
	transition: all 0.6s;
	background: none;
	padding-right: 1%;
	margin-right:-7%;
}

.nudge
{
	padding-right: 10%;
}

.user-management div
{
	float: left;
}

.user-management:hover
{
	background: rgba(255,255,255,0.1);
}

.user-management label
{
	margin-left: 3px;
	font-size: 0.7em;
	opacity: 0.75;
	letter-spacing: 5px;
}

.user-authentication
{
	transition: opacity 0.5s;
	opacity: 0;
}

.show-user-authentication
{
	opacity: 1;
}

.avatar-image
{
	display: block;
	width: 64px;
}



/* 	

	-----------------------------------------------------------------------------

	sidebar styles
	--------------

*/

.dashboard-full-height-sidebar
{
	float:left;
	height: 100vh;
	width: 12%;
	background: rgba(0,0,0,0.3);
}

.dashboard-full-height-sidebar ul
{
	margin: 0;
	padding: 0;
}

.dashboard-full-height-sidebar li
{
    list-style-type: none;
    float: left;
    width: 90%;
    padding: 5%;
}

.dashboard-full-height-sidebar li i
{
	width: 10%;
}

.dashboard-full-height-sidebar li a
{
	color: $textColour;
	text-decoration: none;
    text-align: center;
}

.dashboard-full-height-sidebar a
{

}

.sidebar-menu-items
{

}

.sidebar-menu-items li
{
	transition: 0.2s all;
	border: none;
	color: $textColour;
}

.sidebar-menu-items li:hover
{
	padding-left: 10%;
	border-left: 7px solid $text--hover;
	cursor: pointer;
	color: $text--hover;
}

/*
	-----------------------------------------------------------------------------

	main view styles
	----------------

*/

.widget-view
{
	float:left;
	width: 88%;
}


.widget-wrapper
{
	float:left;
	padding: 3%;
	margin: 3%;
	background: rgba(0,0,0,0.1);
	border-radius: 3px;
	-webkit-box-shadow: 0px 6px 18px -4px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 6px 18px -4px rgba(0,0,0,0.55);
	box-shadow: 0px 6px 18px -4px rgba(0,0,0,0.55);
	color: $textColourLighten;

}

/*
	--------
	todo app
	--------
*/

#todo-app
{
	display:flex;
	flex-wrap:wrap;
	font-family: $handwritingFont;
}

.todo-list
{
	width: 80%;
}

.todo-list ol
{
	margin: 0;
	padding: 0;
	-webkit-padding-start: 0;
	list-style-position: inside;
	white-space: nowrap;
	color: $textColourDarker;
	font-size: 1em;
}

.todo-list li
{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.3%;
    margin-right: 2%;
    margin-bottom: 2%;
    background: rgba(160, 165, 231, 0.08);
    -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.1);
    float: left;
    font-size: 1.45em;
    line-height: 22px;

}

.todo-list ol li h4
{
    font-weight: normal;
    font-size: 1em;
    margin: 0;
    color: $secondaryColour;
    vertical-align: top;
    padding: 0;
    line-height: 28px;
}

.todo-list ol li time
{
	font-family: $mainFont;
    font-size: 0.5em;
    color: $textColourDarker;
    opacity: 0.9;
    letter-spacing: 1px;
    vertical-align: bottom;
}

.todo-form
{
	width: 20%;
	display: flex;
	flex-direction: column;
}

.todo-form textarea
{
	resize: none;
	min-height: 140px;
	outline: none;
	border: none;
	padding: 3%;
	background: rgba(0,0,0,0.1);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.1);
	color: $secondaryColour;
	transition: all 0.6s;
	font-family: $handwritingFont;
	font-size: 1em;

}

.todo-form textarea::-webkit-input-placeholder
{
	color: $secondaryColour;
}

.todo-form textarea:hover
{
	background: rgba(0,0,0,0.2);
}

.todo-form textarea:focus
{
	background: rgba(0,0,0,0.2);
}

.todo-form button:hover
{
	background: rgba(0,0,0,0.3);
}


.todo-form button
{
	outline: none;
	border: none;
	padding: 4%;
	background: rgba(0,0,0,0.15);
   -webkit-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 7px 20px -4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 7px 20px -6px rgba(0, 0, 0, 0.1);
	color: $secondaryColour;
	text-align: left;
	transition: all 0.6s;
	font-family: $mainFont;
	font-size: 1.1em;
}

