$textColour: rgba(107,116,172,0.9);
$textColourDarker: darken($textColour, 20%);
$textColourLighten: lighten($textColour, 20%);
$primaryColour: rgba(201, 201, 209, 0.8);
$secondaryColour: rgba(33, 39, 74, 0.79);
$text--hover: #A9A4C9;
$mainFont: 'Lato', sans-serif;
$handwritingFont: 'Coming Soon', cursive;