<div class="dashboard-header">

	<section class="site-name">
		<img src="../img/dash-icon.png" width="20%">
		<span class="colour-1">Spring</span>
		<span class="colour-2">board</span>
	</section>


	<div class="user-stats">

	<!--
		
		<div class="stat-item" ng-show="userManager.archivedTodos">
			<span class="stat-number">{{ userManager.getObjectLength(userManager.archivedTodos) }}</span>
			<label class="stat-label">Todo</label>
		</div>	

	-->		

	</div>

	<section class="user-management" ng-click="userManager.toggleMenuOptions()">

		<div class="user-avatar">
			<img ng-src="{{userManager.displayImgSrc}}" class="avatar-image"/>
			<label>{{userManager.username}}</label>
		</div>

		<div class="user-authentication">
			<button ng-hide="userManager.userSignedIn" ng-click="userManager.signUserIn()">Sign in</button>
			<button ng-show="userManager.userSignedIn" ng-click="userManager.signUserOut()">Sign Out</button>
		</div>
		
	</section>


</div>