<div class="dashboard-full-height-sidebar">
	<ul class="sidebar-menu-items">
		<li>
			<i class="fa fa-check" aria-hidden="true"></i>
			<a ui-sref="todo">Current Todo</a>
		</li>
		<li>
			<i class="fa fa-rss" aria-hidden="true"></i>
			<a ui-sref="feed">News feed</a>
		</li>
		<li>
			<i class="fa fa-youtube-play" aria-hidden="true"></i>
			<a ui-sref="media">Media Burner</a>
		</li>
		<li>
			<i class="fa fa-calendar-times-o" aria-hidden="true"></i>
			<a ui-sref="calendar">Calendar &amp; Events</a>
		</li>
		<li>
			<i class="fa fa-medkit" aria-hidden="true"></i>
			<a ui-sref="feed">Health &amp; Workout</a>
		</li>
	</ul>
</div>

