<div class="dashboard-full-height-sidebar">
	<ul class="sidebar-menu-items" ng-mouseleave="sidebar.resetHighlight()">

		<!-- wrap each menu nav item in an <a> -->
		<a ui-sref="todo" ng-mouseenter="sidebar.moveHighlight($event, 1)" ng-click="sidebar.applyActiveLink($event)">
			<li class="menu-item todo">
				<i class="fa fa-check" aria-hidden="true"></i>
				<label class="sidebar-link">Current Todo</label>
			</li>
		</a>

		<a ui-sref="feed" ng-mouseenter="sidebar.moveHighlight($event, 2)" ng-click="sidebar.applyActiveLink($event)">
			<li class="menu-item feed">
				<i class="fa fa-rss" aria-hidden="true"></i>
				<label class="sidebar-link">News feed</label>
			</li>
		</a>

		<!-- ON HOLD 19/08/2016
		<a ui-sref="media">
			<li>
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
				<label>Media Burner</label>
			</li>
		</a>
		-->

		<a ui-sref="calendar" ng-mouseenter="sidebar.moveHighlight($event, 3)" ng-click="sidebar.applyActiveLink($event)">
			<li class="menu-item calendar">
				<i class="fa fa-calendar-times-o" aria-hidden="true"></i>
				<label class="sidebar-link">Calendar &amp; Events</label>
			</li>
		</a>

		<a ui-sref="health" ng-mouseenter="sidebar.moveHighlight($event, 4)" ng-click="sidebar.applyActiveLink($event)">
			<li class="menu-item health">
				<i class="fa fa-medkit" aria-hidden="true"></i>
				<label class="sidebar-link">Health &amp; Workout</label>
			</li>
		</a>
		

		<div class="hover-highlighter"></div>
	</ul>
</div>

