<div class="dashboard-header">

	<section class="site-name">Dashboard</section>

	<section class="user-management" ng-click=userManager.toggleMenuOptions()>

		<div class="user-avatar">
			<img src="../img/detective.png" class="avatar-image">
			<label>{{userManager.userName}}</label>
		</div>

		<div class="user-authentication">
			<div class="g-signin2" data-onsuccess="userManager.onSignIn"></div>
			<!--<button ng-click=userManager.beginSignIn()>Log in</button>-->
			<!--<button>Edit profile</button>-->
		</div>
		
	</section>


</div>