<div class="dashboard-header">

	<section class="site-name">
		<img src="../img/dash-icon.png" width="20%">
		<span class="colour-1">Spring</span>
		<span class="colour-2">board</span>
	</section>

	<section class="user-management" ng-click="userManager.toggleMenuOptions()">

		<div class="user-avatar">
			<img ng-src="{{userManager.displayImgSrc}}" class="avatar-image"/>
			<label>{{userManager.username}}</label>
		</div>

		<div class="user-stats">
			
			

		</div>

		<div class="user-authentication">
			<button ng-hide="userManager.userSignedIn" ng-click="userManager.signUserIn()">Sign in</button>
			<button ng-show="userManager.userSignedIn" ng-click="userManager.signUserOut()">Sign Out</button>
		</div>
		
	</section>


</div>