<div class="widget-wrapper">
	
	<div id="todo-app">

		<section class="todo-list">
			<!-- initially hidden, is tools -->
			<section class="todo-revealed-options">
				<div class="menu-item">
					<i class="fa fa-trash" aria-hidden="true"></i>
					<label>Delete all</label>
				</div>
			</section>

			<!-- little spanner icon to show the above -->
			<section class="todo-options-menu" ng-click="todo.revealContextMenu()">
				<i class="fa fa-wrench" aria-hidden="true"></i>
			</section>

			<!-- the rendered todos -->
			<ol class="all-todos-list">
				<li ng-repeat="todoItem in userWidgetMeta.todo">
					<h4>{{ todoItem.title }}</h4>
					<time>{{ todoItem.added }}</time>
				</li>
			</ol>
		</section>

		<!-- the ui to add new todos -->
		<form class="todo-form">
			<textarea name="todo-item-title" placeholder="Add something next..." ng-model="todo.addNewTodoTitle"></textarea>
			<button ng-click="todo.addNewTodoSubmit()">Add todo</button>
		</form>

	</div>


</div>