<div class="widget-wrapper">

	<!-- main app injection point -->
	<div id="feed-app" class="feeds">
		
		<!-- initially hidden - ui to add new feed url sources -->
		<section class="hidden-form" id="feed-add-form">
			<form>
				<div class="current-source">
					<span>Current sources</span>
					<ol>
						<li ng-repeat="source in userWidgetMeta.feedSource">
							<i class="fa fa-trash" aria-hidden="true" ng-click="feed.removeNewsSource($event, source)"></i>
							<h4>{{source.title}}</h4>
							<a href="{{source.url}}" target="_blank">{{ source.url }}</a>
						</li>
					</ol>
				</div>
				<input type="text" name="feed-item-sitename" placeholder="Feed name" ng-model="feed.sourceName"></textarea>
				<input type="text" name="feed-item-url" placeholder="Feed URL" ng-model="feed.sourceURL"></textarea>
				<button ng-click="feed.addNewFeedSource()">Add source</button>
			</form>
		</section>



		<!-- the actual feeds as they are displayed -->
		<section class="feed-list">	

			<!-- options to show hidden tools or hidden add new -->
			<section class="options-menu">
				<span ng-click="feed.revealFeedAddForm()" id="toggleFeedAddForm">
					<i class="fa fa-plus" aria-hidden="true" id="toggleFeedAddFormIcon"></i>
				</span>
			</section>


			<!-- show when there's nothing -->
			<li ng-hide="userWidgetMeta.feedSource">
				<h4>Nothing here!</h4>
			</li>

			<!-- loop of items -->
			<li ng-repeat="feedItem in userWidgetMeta.feedSource" class="feed-item-cell">
				<h5>{{ feedItem.title }}</h5>

				<feed-parser url="feedItem.url" />

				<!--
				<ol>
					<li ng-repeat="article in feedItem.parsed | limitTo:7">
						<a href="{{article.link[0]}}" target="_blank">{{ article.title[0] }}</a>
					</li>
				</ol>

				-->
			</li>

		</section>



	</div>  
<!--

	<div id="feed-app" class="app-wrapper feeds">
 
		<section class="feed-list">	
			<li ng-hide="userWidgetMeta.feed">
				<h4>Nothing here!</h4>
			</li>

			<li ng-repeat="feedItem in userWidgetMeta.feed" class="feed-item-cell">
				<h4>{{ feedItem.title }}</h4>
				<ol>
					<li ng-repeat="article in feedItem.parsed | limitTo:7">
						<a href="{{article.link[0]}}" target="_blank">{{ article.title[0] }}</a>
					</li>
				</ol>
			</li>
		</section>

		<section class="feed-manager closed">

			<div class="panel-visibility" ng-click="feed.toggleSidepanelVisibility()">
				<i class="fa fa-arrow-left open-feed-sources toggle-button" aria-hidden="true"></i>
			</div>

			<div class="pad inner-contents">

				<div class="current-source row">
					<h3>Current sources</h3>
					<ol>
						<li ng-repeat="source in userWidgetMeta.feed">
							<i class="fa fa-trash" aria-hidden="true" ng-click="feed.removeNewsSource($event, source)"></i>
							<h4>{{source.title}}</h4>
							<a href="{{source.url}}" target="_blank">{{ source.url }}</a>
						</li>
					</ol>
				</div>
				<div class="add-new-source row">
					<h3>Add source</h3>
					<form>
						<input type="text" placeholder="Source name" ng-model="feed.sourceName" />
						<input type="text" placeholder="Source url"  ng-model="feed.sourceURL"/>
						<button ng-click="feed.addNewFeedSource()">Add</button>
					</form>
				</div>

			</div>
		</section>
		
	</div>

	-->
</div>