<div class="widget-wrapper">
	<div id="calendar-app" class="center-padding calendar-app">
		<div class="interactive-calendar-wrapper" drag-scroll="true">
			<div class="scroll-x-container">

				<!-- PREV MONTH -->
				<div class="month-wrapper">
					<div class="month-name">{{cal.prevMonthName}}</div>
					<div class="checkerboard-wrapper">

						<!-- BEGIN CELL -->
						<div
							class="calendar-cell" 
							ng-repeat="day in cal.prevMonthDays track by $index"
							ng-Dblclick="cal.showForm($event)"
							ng-attr-id="{{ 'cell-' + cal.prevMonthId + '-' + ($index + 1) }}">

								<!-- INNER -->
								<label class="day-number-label">{{$index + 1}}</label>
						</div>
						<!-- END CELL -->

					</div>
				</div>
 
				<!-- THIS MONTH -->
				<div class="month-wrapper">
					<div class="month-name">{{cal.thisMonthName}}</div>
					<div class="checkerboard-wrapper">

						<!-- BEGIN CELL -->
						<div 
							class="calendar-cell"
							ng-repeat="day in cal.thisMonthDays track by $index"
							ng-Dblclick="cal.showForm($event)"
							ng-attr-id="{{ 'cell-' + cal.thisMonthId + '-' + ($index + 1) }}" 
							ng-class="cal.isTodaysDate(cal.thisMonthId + '-' + ($index + 1))">

							<!-- INNER -->
							<label class="day-number-label">{{$index + 1}}</label>

						</div>
						<!-- END CELL -->
					</div>
				</div>

				<!-- next month -->
				<div class="month-wrapper">
					<div class="month-name">{{cal.nextMonthName}}</div>
					<div class="checkerboard-wrapper">

						<!-- BEGIN CELL -->
						<div 
							class="calendar-cell"
							ng-repeat="day in cal.nextMonthDays track by $index"
							ng-Dblclick="cal.showForm($event)"
							ng-attr-id="{{ 'cell-' + cal.nextMonthId + '-' + ($index + 1) }}">

							<!-- INNER -->
							<label class="day-number-label">{{$index + 1}}</label>
						</div>
						<!-- END CELL -->
					</div>
				</div>
			</div> 
		</div>

	<div class='popup' ng-class="{{'cal.formStyle'}}">
		<form class='calendar-add-form'>
			<input type='text' placeholder='New Event label' ng-model='cal.newEventLabel' \>
			<input type='text' placeholder='New spend (label)' ng-model='cal.newSpendLabel' \>
			<input type='text' placeholder='New spend (amount)' ng-model='cal.newSpendAmount' \>
			<input type='button' value='Add item(s)' ng-click='cal.submitNewCalItem($event)'\>
		</form>
	</div>


	</div>

</div>