<div class="widget-wrapper">

	<!-- main app injection point -->
	<div id="feed-app">
		
		<!-- initially hidden - ui to add new feed url sources -->
		<section class="feed-add-form" id="feed-add-form">
			<form>
				<input type="text" name="feed-item-sitename" placeholder="Add something next..." ng-model="feed.addNewFeedTitle"></textarea>
				<input type="text" name="feed-item-url" placeholder="Add something next..." ng-model="feed.addNewFeedURL"></textarea>
				<button ng-click="todo.addNewFeedSubmit()">Add source</button>
			</form>
		</section>

	</div>
<!--

	<div id="feed-app" class="app-wrapper feeds">
 
		<section class="feed-list">	
			<li ng-hide="userWidgetMeta.feed">
				<h4>Nothing here!</h4>
			</li>

			<li ng-repeat="feedItem in userWidgetMeta.feed" class="feed-item-cell">
				<h4>{{ feedItem.title }}</h4>
				<ol>
					<li ng-repeat="article in feedItem.parsed | limitTo:7">
						<a href="{{article.link[0]}}" target="_blank">{{ article.title[0] }}</a>
					</li>
				</ol>
			</li>
		</section>

		<section class="feed-manager closed">

			<div class="panel-visibility" ng-click="feed.toggleSidepanelVisibility()">
				<i class="fa fa-arrow-left open-feed-sources toggle-button" aria-hidden="true"></i>
			</div>

			<div class="pad inner-contents">

				<div class="current-source row">
					<h3>Current sources</h3>
					<ol>
						<li ng-repeat="source in userWidgetMeta.feed">
							<i class="fa fa-trash" aria-hidden="true" ng-click="feed.removeNewsSource($event, source)"></i>
							<h4>{{source.title}}</h4>
							<a href="{{source.url}}" target="_blank">{{ source.url }}</a>
						</li>
					</ol>
				</div>
				<div class="add-new-source row">
					<h3>Add source</h3>
					<form>
						<input type="text" placeholder="Source name" ng-model="feed.sourceName" />
						<input type="text" placeholder="Source url"  ng-model="feed.sourceURL"/>
						<button ng-click="feed.addNewFeedSource()">Add</button>
					</form>
				</div>

			</div>
		</section>
		
	</div>

	-->
</div>