<div class="widget-wrapper">
	<div id="calendar-app" class="center-padding calendar-app">
		<div class="interactive-calendar-wrapper" drag-scroll="true">
			<div class="scroll-x-container">
				<!-- prev month -->
				<div class="month-wrapper">
					<div class="month-name">{{cal.prevMonthName}}</div>
					<div class="checkerboard-wrapper">
						<div class="calendar-cell" ng-repeat="day in cal.prevMonthDays track by $index" ng-Dblclick="cal.showForm($event)">
							{{$index + 1}}
						</div>
					</div>
				</div>

				<!-- this month -->
				<div class="month-wrapper">
					<div class="month-name">{{cal.thisMonthName}}</div>
					<div class="checkerboard-wrapper">
						<div class="calendar-cell" ng-repeat="day in cal.thisMonthDays track by $index" ng-Dblclick="cal.showForm($event)">
							{{$index + 1}}
						</div>
					</div>
				</div>

				<!-- next month -->
				<div class="month-wrapper">
					<div class="month-name">{{cal.nextMonthName}}</div>
					<div class="checkerboard-wrapper">
						<div class="calendar-cell" ng-repeat="day in cal.nextMonthDays track by $index" ng-Dblclick="cal.showForm($event)">
							{{$index + 1}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="popup-form" ng-hide="{{cal.formShown}}">
			<h3>hello!</h3>
			<p>i am a popup form</p>
		</div>

	</div>

</div>